<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>


  <h2>Open Source Content</h2>
  <ul>
      <li><a href="/getImage/css">CSS</a></li>
      <li><a href="/getImage/HTML5">HTML5</a></li>
      <li><a href="/getImage/official-javascript-logo">JS</a></li>
  </ul>

    <br>
    <br>

  <h2>Premium Content</h2>
  <ul>
      <li><a href="/getImage/micro_net">.NET</a></li>
      <li><a href="/getImage/Ferrari_Logo">Ferrari</a></li>
  </ul>
  </body>
</html>
